<div class="jumbotron hero">
          <div class="col-10 offset-1">
          <h1>Checkmates <br> Chess</h1>

          <p>In chess one cannot control everything. <br>
          Sometimes a game takes an unexpected turn, in which beauty begins to emerge. <br>
          Both players are always instrumental in this</p>

          <p><em>-Vladimir Kramnik</em></p>
          <br />
          <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info btn-lg" %>
          </p>

        </div>
        <br>

</div>

<div class="col-sm-8 offset-sm-2">
  <h2>About Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque urna lacus, id mollis est ornare et. Aliquam vestibulum, ipsum ut porta vehicula, lacus ex dictum orci, molestie viverra velit ante vel risus. Duis tellus mi, vulputate a metus a, sollicitudin cursus eros. Morbi id libero non libero porta luctus sit amet ut eros. Fusce non sollicitudin eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut elementum vel nisi non placerat.</p>
</div>
<br>

<div class="container">
  <div class="row text-center">
    <div class="col-sm-3">
      ddegrassi
      <img class="rounded-circle img-fluid" width="200" height="200"  src="http://www.silq.ca/wp-content/uploads/2014/08/Person-icon.jpg" alt="">
    </div>
    <div class="col-sm-3">
      kbanico
      <img class="rounded-circle img-fluid" width="200" height="200"  src="http://www.silq.ca/wp-content/uploads/2014/08/Person-icon.jpg" alt="">
    </div>
    <div class="col-sm-3">
      wildobro
      <img class="rounded-circle img-fluid" width="200" height="200"  src="http://www.silq.ca/wp-content/uploads/2014/08/Person-icon.jpg" alt="">
    </div>
    <div class="col-sm-3">
      evancording
      <img class="rounded-circle img-fluid" width="200" height="200"  src="http://www.silq.ca/wp-content/uploads/2014/08/Person-icon.jpg" alt="">
    </div>
  </div>

  <br>

  <div class="row text-center">
    <div class="col-sm-3 offset-sm-3">
      mikesd
      <img class="rounded-circle img-fluid" width="200" height="200"  src="http://www.silq.ca/wp-content/uploads/2014/08/Person-icon.jpg" alt="">
    </div>
    <div class="col-sm-3">
      olleicua
      <img class="rounded-circle img-fluid" width="200" height="200"  src="http://www.silq.ca/wp-content/uploads/2014/08/Person-icon.jpg" alt="">
    </div>
  </div>

</div>
