<div class="jumbotron hero">
          <div class="call-to-action">
          <h1>Endgame</h1>
          <h1>Chess</h1>
          <p>“Openings teach you openings.</p>
          <p>Endgames teach you chess!”</p>
          <p><em>Stephan Gerzadowicz, Chess Master</em></p>
          <br />
          <a class="btn btn-primary sign" href="/users/sign_up">Sign Up and Play for Free</a>
          <p>or</p>
          <a class="sign" href="/users/sign_in">Sign In</a>
        </div>
        <br>
        <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Sign Up</a></p>

</div>
