<div class="jumbotron hero">
          <div class="col-10 offset-1">
          <h1>Checkmates <br> Chess</h1>

          <p>In chess one cannot control everything. <br>
          Sometimes a game takes an unexpected turn, in which beauty begins to emerge. <br>
          Both players are always instrumental in this</p>

          <p><em>Vladimir Kramnik</em></p>
          <br />
          <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Sign Up</a></p>

        </div>
        <br>

</div>
