<div class="col-sm-10 offset-sm-1 text-center">
  <br>
  <h1>User Dashboard</h1>
  <p>Name: <%= @user.username %></p>
</div>

<div class="box col-sm-6 offset-sm-3 text-center">
  <p>Stats:</p>
  <p>Games Played:</p>
  <p>Total Wins:</p>
</div>
