<div class="box col-sm-8 offset-sm-2">
  <h2>Pieces#New</h2>
  <h3>create piece, testing only</h3>
  
    <!--simple_form_for @piece, :url => pieces_path, :method => :post do |f|-->
    <%= simple_form_for @piece do |f| %>
      <%= f.input :piece_type %>
      <!-- f.input :piece_color 
       f.input :x_coordinate 
       f.input :y_coordinate -->
      <%= f.submit  "Create Piece", class: "btn btn-default" %>
    <% end %>  

    <br /><br />

    <% @pieces.each do |piece| %>
      <%= link_to "Piece #{piece.id}", piece_path(piece) %>
      <br />
    <% end %>

</div>

