<div class="box col-sm-8 offset-sm-2">
  <h1>Create A Game</h1>
  
    <%= simple_form_for @game do |f| %>
      <%= f.input :game_title %>
      <%= f.submit  "Create Game", class: "btn btn-default" %>
    <% end %>  

</div>
