<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>

<div id="board">
  <% 8.times do |row| %>
    <% 8.times do |col| %>
      <%= content_tag(:div, "", class: (row + col) % 2  == 0 ? "white" : "black") %>
    <% end %>
  <% end %>
</div>


