<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>

<% if @game.player_black_id.nil? || @game.player_white_id.nil? %>
  <p><%= link_to "Join Game!", game_path(@game), method: :patch %></p>
<% end %>

<div id="board">
  <% 8.times do |row| %>
    <% 8.times do |col| %>
      <%= content_tag(:div, place_pieces(row, col), class: (row + col) % 2  == 0 ? "white" : "black", id: "#{row}-#{col}") %>
    <% end %>
  <% end %>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

  $( function() {
    $('.white').draggable();
    $('.white').droppable();
    $('.black').draggable();
    $('.black').droppable();
    //$.post("/pieces/" + pieceId, {
    //    _method: "PUT",
    //    piece: {
    //      x_coordinate: new_x,
    //      y_coordinate: new_y
    //    }
    //  }).success( function( data ) {
    //  });
  });

</script>