<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>

<p><%= "Game Host: #{@game.user_id.username}" %></p>

<% if @game.player_black_id == -1 %>
  <p><%= link_to "Join Game!", game_path(@game), method: :patch %></p>
<% end %>